body {
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
#header {
  background-color: #2C185B;
  height: 80px;
  top:-80px;
  left:0;
  width: 100%;
  text-align: center;
  display: table;
  z-index: 999;
}
#logo {
  margin: 0 auto;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
#logo img {
  height: 30px;
  width: auto;
}

#wrap {
  z-index: 0;
}

#tinderslide {
}
#tinder-slide ul {
  height: 80%;
}

#actions {
  margin: 0 auto;
  position: fixed;
  bottom: 5vh;
}

#quiz {
  /*display: none;*/
  background-color: #FF294C;
}

#results {
  z-index: 80;
  width: 100%;
  height: 100%;
  background-color: #4745d1;
  display: none;
}
.announceResults {
  text-align: center;
  padding-top: 20px;
}

.announceResults h1 {
  color: #fb6754;
  margin: 6px 0;
  font-style: italic;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
}
.announceResults h1 strong {
  color: #4745d1;
  margin: 0px;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  background-color: #fb6754;
  padding: 0 10px 2px 10px;
}

.similarTo {
  background-color: #04284a;
}
.announceResults p {
  color: white;
  font-size: 14px;
  font-family: 'Questrial', sans-serif;
  padding: 20px 0;
}
.announceResults ul li {
  color: white;
  font-size: 14px;
  margin: 10px 0;
  font-family: 'Questrial', sans-serif;
  padding: 4px 0;
}

.announceResults p.lead {
  color: #afffcc;
  font-size: 14px;
  font-family: 'Questrial', sans-serif;
  padding: 20px 0 0 0;
}
.announceResults p.yourMatches {
  font-size: 22px;
  margin-top: 40px;
  color: white;
  border-bottom: 1px solid #fb6754;
}

.announceResults table {
  width: 100%;
  margin:0;
  padding:0;
  padding-bottom: 100px;
}

.announceResults table td{
  width: 50%;
}

.announceResults table p{
  /*color: #afffcc;*/
  color: white;
  font-size: 18px;
  font-family: 'Questrial', sans-serif;
  padding: 0;
  margin: 10px 0;
  text-align: left;
}

.announceResults table img {
  width: 110px;
  margin: 5px 0 5px 0;
  height: auto
}

#folksForNN {
  display: none;
}

#folksAgainstNN {
  display: none;
}


#followUs {
  margin-top: 60px;
  margin-bottom: 80px;
}
#followUs img {
  width: 100px;
}
#followUs h1 a, #followUs h1 a:visited{
  color: #2c185b;
}

#shareResultsBtn {
  border: 2px solid white;
  margin: 20px 40px 15px 40px;
}
#shareResultsBtn p{
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: 'Questrial', sans-serif;
}



/* jTinder images */
#tinderslide * .img {
    background-size: cover !important;
}
#tinderslide .pane19 .img {
    background: url("../img/pane/19.jpg") no-repeat scroll top center;
}
#tinderslide .pane18 .img {
    background: url("../img/pane/18.jpg") no-repeat scroll top center;
}
#tinderslide .pane17 .img {
    background: url("../img/pane/17.jpg") no-repeat scroll top center;
}
#tinderslide .pane16 .img {
    background: url("../img/pane/16.jpg") no-repeat scroll top center;
}
#tinderslide .pane15 .img {
    background: url("../img/pane/15.jpg") no-repeat scroll top center;
    background-size: cover;
}
#tinderslide .pane14 .img {
    background: url("../img/pane/14.jpg") no-repeat scroll top center;
}
#tinderslide .pane13 .img {
    background: url("../img/pane/13.jpg") no-repeat scroll top center;
}
#tinderslide .pane12 .img {
    background: url("../img/pane/12.jpg") no-repeat scroll top center;
    background-size: cover;
}
#tinderslide .pane11 .img {
    background: url("../img/pane/11.jpg") no-repeat scroll top center;
}
#tinderslide .pane10 .img {
    background: url("../img/pane/10.jpg") no-repeat scroll top center;
}
#tinderslide .pane9 .img {
    background: url("../img/pane/09.jpg") no-repeat scroll top center;
}
#tinderslide .pane8 .img {
    background: url("../img/pane/08.jpg") no-repeat scroll top center;
}
#tinderslide .pane7 .img {
    background: url("../img/pane/07.jpg") no-repeat scroll top center;
    background-size: cover;
}
#tinderslide .pane6 .img {
    background: url("../img/pane/06.jpg") no-repeat scroll top center;
}
#tinderslide .pane5 .img {
    background: url("../img/pane/05.jpg") no-repeat scroll top center;
}
#tinderslide .pane4 .img {
    background: url("../img/pane/04.jpg") no-repeat scroll top center;
    background-size: cover;
}
#tinderslide .pane3 .img {
    background: url("../img/pane/03.jpg") no-repeat scroll top center;
}
#tinderslide .pane2 .img {
    background: url("../img/pane/02.jpg") no-repeat scroll top center;
}
#tinderslide .pane1 .img {
    background: url("../img/pane/01.jpg") no-repeat scroll top center;
}


/*MEDIA QUERIES*/
/*124.5 + 27px + 79.5 =*/

		/* Larger than tablet */
		@media (min-width: 700px) {
      html, body {
        background-color: #322F3B;
      }
      .container {
        max-width: 375px !important;
        position: relative;
        top: calc(100vh - 900px);
        margin: 0 auto !important;
        border: 30px solid #111;
        border-top: 80px solid #111;
        border-bottom: 100px solid #111;
        border-radius: 45px;
      }
      .wrap {
        height: 410px !important;
      }
      #results {
        height: 587.5px !important;
        overflow: scroll;
      }
      /*#tinderslide {
        height: 400px !important;
      }*/
    }
